<!doctype html>

<!--注意：引入thymeleaf的名称空间-->
<html xmlns:th="http://www.thymeleaf.org" lang="cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../static/css/result.css" th:href="@{~/css/result.css}" type="text/css" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" media="screen" href="//cdn.muicss.com/mui-0.10.3/css/mui.css"/>
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>

    <title>StupidSearchEngine</title>
    <style>
        .title {
            padding: 16px 4px 16px 16px;
        }
        .horizontal {
            display: flex;
        }
        .panel{
            margin: 16px;
        }
    </style>
</head>
<body>
<div class="mui-appbar mui--z2">
    <div class="mui--text-headline title">StupidSE控制面板</div>
</div>
<div class="horizontal">
    <div class="mui-panel panel">
        <h3>Crawler</h3>
        <h4>状态：<span th:text="${crawler_status}">Alive</span></h4>
        <h4>线程数：<span th:text="${crawler_threadAlive}"></span></h4>
        <h4>发现页面数：<span th:text="${crawler_pageCount}"></span></h4>
        <h4>已下载：<span th:text="${crawler_downloaded}"></span></h4>
        <a class="mui-btn mui-btn--raised mui-btn--primary" href="/dashboard?command=state">刷新</a>
        <a class="mui-btn mui-btn--raised mui-btn--accent" href="/dashboard?command=crawler-start">开始</a>
        <a class="mui-btn mui-btn--raised mui-btn--accent" href="/dashboard?command=crawler-stop">暂停</a>
        <a class="mui-btn mui-btn--raised mui-btn--accent" href="/dashboard?command=crawler-finish">终止</a>

    </div>
    <div class="mui-panel panel">
        <h3>Indexer</h3>
        <h4>索引存在：<span th:text="${indexer_exist}">Alive</span></h4>
        <h4>线程状态：<span th:text="${indexer_status}"></span></h4>
        <h4>线程：<span th:text="${indexer_thread}"></span></h4>
        <h4>消息：<span th:text="${indexer_message}"></span></h4>
        <a class="mui-btn mui-btn--raised mui-btn--primary" href="/dashboard?command=state">刷新</a>
        <a class="mui-btn mui-btn--raised mui-btn--accent" href="/dashboard?command=indexer-start">开始</a>
        <a class="mui-btn mui-btn--raised mui-btn--accent" href="/dashboard?command=indexer-delete">删除</a>

    </div>
</div>

</body>
</html>